{% extends 'loggedin.html.twig' %}
{% block body %}

    <div class="container forma" >
        <form action="" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input  class="form-control" type="text" id="name" name="name" />
            </div>
            <hr>
            <h4>Tasks</h4><br><input type="submit" id="add_task" name="add_task" class="add_task btn btn-primary" value="+ Task"/>
            <br><br>
            <div class="input_fields_wrap">

            </div>
            <input type="hidden" name="_target_path" value="/dashboard" />
            <input type="submit" name="add_list" class="btn btn-success" value="Add list"/>

        </form>

    </div>

{% endblock body %}