{% extends 'loggedin.html.twig' %}
{% block body %}
    <div class="container account" >
        <h2 class="text-center">Sorry {{ korisnik.firstname}}, it seems that your account was not activated.Check your email and follow instructions!</h2>

    </div>
    {% endblock body %}