{% extends 'base.html.twig' %}
{% block body %}
    <div class="container edit">
        <h4>Registration was successful, please log in!</h4>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
{% endblock body %}